<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalendarTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99A2A59C1B97536F00F5D377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99A2A5B01B97536F00F5D377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99A2A5BB1B97536F00F5D377</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
